body{
  text-align: center;
  background-color: #2b5672;
  font-family: sans-serif;
}


div{
  border: 2px solid #5d5c61;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
p{
    font-size: 14px;
}
header{
  border: 2px solid #5d5c61;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #f7f9fb;
  text-align: left;
  height: 60px;
  overflow: hidden;
  vertical-align: middle;
}
li{
  float: left;
  width: 20%;
  border-left: solid;
}

li b{
  list-style-type: none;
  display: inline-block;
  border: none;
  border-left: none;
  float: left;

}
#optionsH{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 4;
  padding-top: 0;
  border-style: none;
  list-style-type: none;
  position: relative;
  text-align: center;
  width: 70%;
  float: center;
  display: flex;
  padding-right: 0;
}
.firstA{
  line-height: 4;
  list-style-type: none;
  border-left: none;
  float: left;
  margin-left: 0px
}
#infoForm{
  font-size: 20px
}
#files{
  font-size: 20px
}
#fileupload{
  font-size: 20px
}
